<h1>Main Page</h1>
<script src = "/socket.io/socket.io.js"></script>
<script>
    const socket = io.connect('http://i7b110.p.ssafy.io:3000', { path: '/socket.io'});
    console.log("소켓 연결");   
    // socket.on('dailydata', function(data) {
    //     console.log('data', data);
    // })
    //setInterval(() => {
//	socket.emit('RFIDLogin', '12341234')
    //}, 3000);
    socket.emit("test", 1);
    socket.on('updateIsStarted', function(data) {
        console.log('데이터 : ', data);
    })
</script>
