<h1>업데이트 Page</h1>

<form action="/user/signup" method="post">
  <%=email%><br />
  <input
    type="email"
    id="email"
    name="email"
    placeholder="이메일 입력"
    value="<%=email%>"
  /><br />
  <%=name%><br />
  <input
    type="text"
    id="name"
    name="name"
    placeholder="이름 입력"
    value="<%=name%>"
  /><br />
  <button type="submit" value="submit" />
</form>