.calendar {
  box-sizing: border-box;
  font-size: 1.5rem;
  max-width: 100%;
}

.calendar .header {
  background-color: skyblue;
  text-align: center;
  min-height: 2rem;
  line-height: 2rem;
  color: black;
  font-family: var(--font-book);
  font-weight: 700;
  display: flex;
}

.calendar .day-names {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  margin: 0 auto;
  align-items: center;
}

.calendar .body {
  width: 100%;
  height: 100%;
  border: 1px solid lightblue;
}

.calendar .header .previous {
  flex: 1;
  text-align: left;
  margin-left: 1rem;
}

.calendar .header .next {
  flex: 1;
  text-align: right;
  margin-right: 1rem;
}

.calendar .week {
  width: 100%;
  height: 100%;
  background-color: white;
  width: calc(100% / 7);
  height: 44px;
  line-height: 44px;
  text-align: center;
  text-transform: uppercase;
  color: black;
  font-weight: 400;
}
.calendar .week div {
  width: 100%;
  height: 100%;
}

.calendar .day {
  position: relative;
  width: calc(100% / 7);
  height: 130px;
  display: inline-block;
  background-color: white;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 1px solid black;
  z-index: 1;
  text-align: end;
}

.calendar .day div {
  width: 100%;
  height: 100%;
  position: relative;
  color: black;
  z-index: 100;
  line-height: 30px;
}

.calendar .day div.before {
  width: 100%;
  height: 100%;
  color: lightgray;
}

.calendar .day div.selected {
  width: 100%;
  height: 100%;
  background-color: Red;
  color: white;
  font-weight: bold;
}

.calendar .day div.today {
  width: 100%;
  height: 100%;
  background-color: grey;
}
